

<div class="container content">
<div class="narrowcolumn singlepage fullwidth">

			<p class="post">
                <div class="title"><h1>Publications of Frank</h1></div>
                <!--<h2>1996 - 2017: 22 years of excellence on KR&amp;R research</h2>-->
                <!--<hr>-->


                <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="content">&ndash;&gt;-->

                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--<div style=" margin-left: 25px">-->
                <!--<div id="top_x_div" style="width: 100%; height: 400px;"></div>-->
                <!--</div>-->



                {{#each names}}
                    <h3>
                        {{this.year}}
                    </h3>
                    <p>
                    {{#each this.paper_names}}
                        <p>{{this}}</p>
                    {{/each}}
                    </p>
                {{/each}}

                <!--<hr>-->
				<!--<div class="entry">-->
                                          <!--<p>&lt;!&ndash;iframe width="100%" height="1500" src="https://bibbase.org/service/mendeley/afa59a00-ec0f-3f21-b196-b3e7b3d7ed82/group/7fc8fad4-ddf6-3b48-b39c-c05d75ba7135"></iframe&ndash;&gt;<br />-->
<!--<iframe width="100%" height="1500" src="http://bibbase.org/show?bib=https%3A%2F%2Fraw.githubusercontent.com%2FVrijeUniKnowledgeEngineering%2FKE4KE%2Fdemo%2Ffrank.bib&msg=embed" class="postmetadata"></iframe></p>-->

                    <!--<div class="clear"></div>-->
                <!--</div>-->
				<!--<p class="postmetadata">-->

				<!--</p>-->
                These entries are from John's files.

			</div>


	</div> <!-- END Narrowcolumn -->
</div>
