<div class="container">
 			<div class="content">
				<!--<div>-->
					<!--<img src="http://www.personal.psu.edu/users/n/y/nys5290/Project-Image.jpg">-->
				<!--</div>-->
 				<h1> Projects </h1>
 				<hr>
 			</div>
 		

	
<!--	The Current Projeccts	-->
				<div class="row">
					<div class="col-lg-12">
						<div class="tittleBoxes">
							<p1><strong>Current Projects</strong></p1>           
						</div>
					</div>
				</div>

		
<!--	Staff row one	-->
				<div>
					<div class="row">
						<div class="col-lg-4">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px" title="clariah image"  src="https://www.clariah.nl/images/logo-clariah.svg" />		
							</div>
						</div>
						<div class="col-lg-4">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px" src="http://www.commit-nl.nl/sites/default/files/styles/main_photo/public/images/P23%20Afbeelding%20%28nieuw%29.jpg?itok=BpNKg6Au" />							
							</div>
						</div>
						<div class="col-lg-4">
							<div class="thumbnail" style="text-align:center"> 
								<img  style="height: 150px" src="https://www.goldenagents.org/wp-content/themes/huc-wp-theme/images/logo-golden-agents.svg" /> 			
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4">
							 <div class="nameTittle">
								 	<a target="_blank" href="http://www.clariah.nl/">CLARIAH</a>
							</div>
						</div>
						<div class="col-lg-4">
						 <div class="nameTittle">
							 <a target="_blank" href="http://www.data2semantics.org/">Data2Semantics (COMMIT)</a> 		</div>
						</div>
						<div class="col-lg-4">
							<div class="nameTittle">
								<a href="https://www.huygens.knaw.nl/golden-agents/">Golden Agents</a>
							</div>
						</div>
					</div>
				</div>
	
		
		
<!--	Staff row two	-->
				<div>
					<div class="row">
						<div class="col-lg-4">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px"  src="http://risis.eu/wp-content/themes/risis/images/logo.png"/>							
							</div>
						</div>
						<div class="col-lg-4">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px"  src="https://slidewiki.eu/wp-content/uploads/2016/04/cropped-slidewiki-1.png" />							
							</div>
						</div>
						<div class="col-lg-4">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px"  src="http://wordpress.let.vupr.nl/understandinglanguagebymachines/files/2016/07/cropped-Header_144dpi.png" /> 			
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4">
							<div class="nameTittle">
									<a href="http://risis.eu/">Research Infrastructure for Science and Innovation Studies</a> 		
							</div>
						 </div>
						<div class="col-lg-4">
						 <div class="nameTittle">
							 <a target="_blank" href="http://slidewiki.eu/">Slidewiki</a></div>
						</div>
						<div class="col-lg-4">
							<div class="nameTittle">
								<a href="http://www.understandinglanguagebymachines.org/a-quantum-model-of-text-understanding/">Understanding Language by Machine 4</a>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4">
						</div>
						<div class="col-lg-4">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px"  src="https://github.com/MaestroGraph/logo-design/blob/master/logo_maestro3_final.png?raw=true" />							
							</div>
						</div>
						<div class="col-lg-4">
						</div>
					</div>

						<div class="col-lg-4">
						 </div>
						<div class="col-lg-4">
						 <div class="nameTittle">
							 <a target="_blank" href="#">Mastro Graph</a></div>
						</div>
						<div class="col-lg-4">
						</div>
					</div>		
		
	
<!--	The Past Projeccts	-->
				<div class="row">
					<div class="col-lg-12">
						<div class="tittleBoxes">
							<p1><strong>Past Projects</strong></p1>           
						</div>
					</div>
				</div>

<!-- Past Project row one	-->
				<div>
					<div class="row">
						<div class="col-lg-3">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px"  src="http://www.uteureca.org/projects/images/eureca_logo.png"/>							
							</div>
						</div>
						<div class="col-lg-3">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px" src="http://www.openphacts.org/2/images/OP_logo_300dpi.jpg" />							
							</div>
						</div>
						<div class="col-lg-3">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px" src="http://ldbcouncil.org/sites/default/files/logo.png" /> 			
							</div>
						</div>
						<div class="col-lg-3">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px" src="http://larkc.org/wp-content/uploads/2008/05/larkc-logo.jpg" /> 			
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3">
							<div class="nameTittle">
									<a href="http://eurecaproject.eu/">Eureca</a> 		
							</div>
						 </div>
						<div class="col-lg-3">
						 <div class="nameTittle">
							 <a target="_blank" href="http://www.openphacts.org/">Open PHACTS</a></div>
						</div>
						<div class="col-lg-3">
							<div class="nameTittle">
								<a href="http://ldbc.eu/">LDBC</a>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="nameTittle">
								<a href="http://www.larkc.eu/">Large Knowledge Collider</a>
							</div>
						</div>
					</div>
				</div>
		

		
<!-- Past Project row two	-->
				<div>
					<div class="row">
						<div class="col-lg-3">
						<div class="thumbnail" style="text-align:center">
									<img style="height: 150px" src="http://www.aifb.kit.edu/images/thumb/e/e1/Semka.jpg/160px-Semka.jpg"/>							
							</div>
						</div>
						<div class="col-lg-3">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px"  src="http://www.sekt-project.com/images/book.jpg" />							
							</div>
						</div>
						<div class="col-lg-3">
						<div class="thumbnail" style="text-align:center">
									<img style="height: 150px"   src="http://www.cs.vu.nl/STITCH/pict/StitchDiagonale.gif" /> 			
							</div>
						</div>
						<div class="col-lg-3">
							<div class="thumbnail" style="text-align:center">
									<img style="height: 150px"  src="https://thumb7.shutterstock.com/display_pic_with_logo/619591/107070851/stock-photo--d-best-project-crossword-on-white-background-107070851.jpg" /> 			
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3">
							<div class="nameTittle">
									<a href="http://www.aifb.kit.edu/web/Wissensmanagement/en/">Semantic Web And Peer-to-peer</a> 		
							</div>
						 </div>
						<div class="col-lg-3">
						 <div class="nameTittle">
									<a href="http://www.sekt-project.com">Semantically Enabled Knowledge Technologies</a> 		
							</div>	
						</div>
						<div class="col-lg-3">
							<div class="nameTittle">
								<a target="_blank" href="http://www.cs.vu.nl/STITCH/">Semantic Interoperability To access Cultural Heritage</a>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="nameTittle">
								<a href="http://www.best-project.nl/">BEST</a>
							</div>
						</div>
					</div>
				</div>

		

<!-- Past Project row three	-->
					<div class="row">
						<div class="col-lg-3">
							<div class="nameTittle">
									<a href="#">Linked Open Data Around the Clock</a> 		
							</div>
						 </div>
						<div class="col-lg-3">
						 <div class="nameTittle">
							 <a target="_blank" href="#">Chinese WordNet</a></div>
						</div>
						<div class="col-lg-3">
							<div class="nameTittle">
								<a href="#">Semantically Mapping Science</a>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="nameTittle">
								<a href="#">Self-Organising Knowledge Systems</a>
							</div>
						</div>
					</div>
		
		

<!-- Past Project row four	-->
					<div class="row">
						<div class="col-lg-3">
							<div class="nameTittle">
									<a href="#">Knowledge Web</a> 		
							</div>
						 </div>
						<div class="col-lg-3">
						 <div class="nameTittle">
							 <a target="_blank" href="#">OpenKnowledge</a></div>
						</div>
						<div class="col-lg-3">
							<div class="nameTittle">
								<a href="#">WonderWeb: Infrastructure for the Semantic Web</a>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="nameTittle">
								<a href="#">Protocure: Improving medical protocols by formal methods</a>
							</div>
						</div>
					</div>
		
		
<!-- Past Project row five	-->
					<div class="row">
						<div class="col-lg-3">
							<div class="nameTittle">
									<a href="#">Intelligent Brokering Service for Knowledge-Component Reuse on the World Wide Web</a> 		
							</div>
						 </div>
						<div class="col-lg-3">
						 <div class="nameTittle">
							 <a target="_blank" href="#">On-To-Knowledge: Content-driven knowledge management through evolving ontologies</a></div>
						</div>
						<div class="col-lg-3">
							<div class="nameTittle">
								<a href="#">Intensive-Care Access to Terminology &amp; Course of Health Exploration and Retrieval</a>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="nameTittle">
								<a href="#">The OntoWeb Network</a>
							</div>
						</div>
					</div>
		
		
		
	</div>