<div class="container form_login">
    <div class="row">
        <h1 style="text-align: center">Sign Up</h1>
        <div style="width: 30%; margin: 25px auto;">
						<form action="/register" method="POST">
                <div class="form-group form_login">
										<input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
    									<input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Register</button>
                </div>
            </form>
            <a href="/profile">Go Back</a>
        </div>
    </div>
</div>