<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css"
  integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
  crossorigin="anonymous">

  <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <!-- google charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['linechart','corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Year', 'Bazoobandi, Hamid R.', 'Beek, Wouter', 'Bloem, Peter', 'Boncz, Peter A.','De Graaf, Klaas Andries',
      'Hu, Qing', 'Huang, Zhisheng', 'Ilievski, Filip', 'Khalili, Ali', 'Meroño-Peñuela, Albert', 'Schlobach, Stefan',
    'Tarasowa, Darya', 'Ten Teije, Annette', 'Van Harmelen, Frank', 'Wilcke, Xander'],
        ['1996',  0,  0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 0, 1, 3, 0],
        ['1997',  0,  0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 2, 0],
        ['1998',  0,  0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 3, 0],
        ['1999',  0,  0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 2, 4, 0],
        ['2000',  0,  0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 4, 0],
        ['2001',  0,  0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 6, 0],
        ['2002',  0,  0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 2, 7, 0],
        ['2003',  0,  0, 0, 0, 0, 0, 6, 0, 0, 0, 1, 0, 3, 4, 0],
        ['2004',  0,  0, 0, 2, 0, 0, 1, 0, 0, 0, 5, 0, 4, 11, 0],
        ['2005',  0,  0, 0, 3, 0, 0, 4, 0, 0, 0, 3, 0, 6, 8, 0],
        ['2006',  0,  0, 0, 8, 0, 0, 2, 0, 0, 0, 3, 0, 3, 14, 0],
        ['2007',  0,  0, 0, 6, 0, 0, 2, 0, 0, 0, 11, 0, 5, 13, 0],
        ['2008',  0,  0, 0, 4, 0, 0, 9, 0, 3, 0, 8, 0, 1, 10, 0],
        ['2009',  0,  0, 0, 9, 0, 0, 6, 0, 1, 0, 6, 0, 8, 12, 0],
        ['2010',  0,  3, 0, 6, 0, 1, 8, 0, 0, 1, 5, 0, 5, 8, 0],
        ['2011',  0,  2, 0, 4, 1, 0, 8, 0, 0, 0, 6, 0, 6, 7, 0],
        ['2012',  0,  3, 0, 8, 1, 0, 7, 0, 2, 1, 8, 1, 5, 10, 0],
        ['2013',  0,  3, 0, 7, 0, 0, 13, 0, 6, 4, 7, 3, 8, 7, 0],
        ['2014',  1,  4, 3, 5, 2, 3, 20, 0, 3, 3, 11, 0, 6, 9, 1],
        ['2015',  1,  4, 2, 5, 0, 3, 8, 3, 2, 4, 7, 1, 9, 7, 0],
        ['2016',  0,  6, 1, 7, 1, 3, 5, 4, 3, 6, 8, 1, 6, 10, 0],
        ['2017',  2,  6, 1, 4, 0, 4, 9, 2, 5, 9, 6, 0, 4, 9, 0],
        ['2018',  0,  1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0],
      ]);

      var options = {
          title:'Knowledge Representation and Reasoning',
          height:800,
          width:1600,
          hAxis: {
            title: 'Publication Year',
            logScale: true
          },
          vAxis: {
            title: 'Scholarly Output',
            logScale: false
          },
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart'));

      chart.draw(data, options);
    }
  </script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>

<!--Nav Bar-->
<nav class="navbar navbar-default navbar-fixed-top">



    <div class="navbar-header top-left-nav-bar">
        <a class="navbar-brand" href="/.">
            <img id="topImage" src="http://www.vu-kamerorkest.nl/images/griff-blauw.png"><p id="topText">Knowledge Representation and Reasoning</p>
        </a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

	          <li><a href="/news">NEWS &amp; EVENTS</a></li>			
            <li><a href="/members">SPECIALIST FINDER</a></li>
					
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href=".">RESEARCH<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/projects">PROJECTS</a></li>
								<li><a href="/publications">PUBLICATIONS</a></li>
								</ul>
						</li>

						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href=".">TEACHING<span class="caret"></span></a>
							<ul class="dropdown-menu">
										<li><a href="/courses">COURSES</a></li>
										<li><a href="/studentProjects">STUDENT PROJECTS</a></li>
								</ul>
						</li>
					
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href=".">ABOUT US<span class="caret"></span></a>
							<ul class="dropdown-menu">
                                <li><a href="/about">INTRODUCTION</a></li>
                                <li><a href="/contact">CONTACT US</a></li>
										<li><a href="/members">MEMBERS</a></li>
									<li><a href="/vacancies">VACANCIES</a></li>
									<li><a href="/collaboration">COLLABORATION</a></li>
								</ul>
						</li>
			  </ul>
			
				<ul class="nav navbar-nav navbar-right">
							<li><a href="/login">LOGIN</a></li>
							<li><a href="/logout">LOGOUT</a></li>
				</ul>
    </div>
</nav>



{{{ body }}}



</body>

</html>
