
 		<div class="container">
 			<div class="content aboutPG">
				 <h1>The Knowledge Representation and Reasoning Group</h1>
 				<hr>
				
				<div>
					<img width="900px" height="500px" src="https://github.com/VrijeUniKnowledgeEngineering/KE4KE/blob/master/views/graph.jpg?raw=true">
				</div>

				
				<div class="textABP">
				 <h4>The <strong> Knowledge Representation &amp; Reasoning Group</strong> group investigates modelling and representation of different forms of knowledge and reasoning, as found in a large variety of <a title="Artificial intelligence" rel="wikipedia" href="http://en.wikipedia.org/wiki/Artificial_intelligence">AI</a> systems. We have an interest in both applications and theory. We study theoretical properties of <a title="Knowledge representation and reasoning" rel="wikipedia" href="http://en.wikipedia.org/wiki/Knowledge_representation_and_reasoning">knowledge representation and reasoning</a> formalisms, but are also involved in developing practical <a title="Knowledge-based systems" rel="wikipedia" href="http://en.wikipedia.org/wiki/Knowledge-based_systems">knowledge-based systems</a>. Recently, we have been very active in developments around the Semantic Web.</h4>

				</div>
				
				
 			</div>
 		


 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
