
 		<div class="container">
 			<div class="content">
				<div>
					<img width="1200px" height="300px" src="https://www.cs.vu.nl/en/Images/Banner_KRR_tcm210-543383.jpg">
				</div>
 				<h2>The Knowledge Representation and Reasoning Group</h2>
 				<hr>
			 <h4>The <strong> Knowledge Representation &amp; Reasoning Group</strong> group investigates modelling and representation of different forms of knowledge and reasoning, as found in a large variety of <a title="Artificial intelligence" rel="wikipedia" href="http://en.wikipedia.org/wiki/Artificial_intelligence">AI</a> systems. We have an interest in both applications and theory. We study theoretical properties of <a title="Knowledge representation and reasoning" rel="wikipedia" href="http://en.wikipedia.org/wiki/Knowledge_representation_and_reasoning">knowledge representation and reasoning</a> formalisms, but are also involved in developing practical <a title="Knowledge-based systems" rel="wikipedia" href="http://en.wikipedia.org/wiki/Knowledge-based_systems">knowledge-based systems</a>. Recently, we have been very active in developments around the Semantic Web.</h4>

				<h4>Posts on this website are continuously aggregated from project and member blogs.</h4>
 			</div>
 		

	
<!--	The staff	-->
				<div class="row">
					<div class="col-lg-12">
						<div class="tittleBoxes">
							<p1><strong>Staff</strong></p1>           
						</div>
					</div>
				</div>

		
<!--	Staff row one	-->
				<div>
					<div class="row">
						<div class="col-lg-3">
							<div style="text-align:center">
									<img class="imageBox" alt="Frank van Harmelen" title="Frank van Harmelen"  src="https://www.cs.vu.nl/en/Images/harmelen_frank_tcm210-543546.jpg" />							
							</div>
						</div>
						<div class="col-lg-3">
							<div style="text-align:center"> 
									<img class="imageBox" alt="Peter Boncz" title="Peter Boncz"  src="https://www.cs.vu.nl/en/Images/boncz_peter_tcm210-543729.jpg" />							
							</div>
						</div>
						<div class="col-lg-3">
							<div style="text-align:center"> 
								<img class="imageBox" alt="Graaf de Klaas Andries" title="Graaf de Klaas Andries"  src="https://www.cs.vu.nl/en/Images/Klaas_Andries_de_Graaf_tcm210-760350.jpg" /> 							
							</div>
						</div>
						
						<div class="col-lg-3">
							<div style="text-align:center"> 
								<img class="imageBox" title="Albert Meroño Peñuela" alt="Albert Meroño Peñuela"  src="https://www.cs.vu.nl/en/Images/Albert_Mero%C3%B1o_Pe%C3%B1uela_M.Sc._tcm210-416660.png"/>							
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-3">
							 <div class="nameTittle">
								 	<a target="_blank" href="http://www.cs.vu.nl/%7Efrankh/">prof. dr. Frank van Harmelen</a> (<a title="Frank van Harmelen"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/prof-dr-frank-van-harmelen/frank-van-harmelen.aspx">VU</a>)</div>
						</div>

						<div class="col-lg-3">
						 <div class="nameTittle">
							 <a target="_blank" href="http://homepages.cwi.nl/%7Eboncz/">prof.dr. Peter Boncz</a> (<a title="Dr. Peter Bloem" target="_blank"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/index/dr-peter-bloem.aspx">VU</a>)						 </div>
						</div>

						<div class="col-lg-3">
							<div class="nameTittle">
								<a href="http://www.kadegraaf.nl/klaas.php">dr. Klaas Andries de Graaf</a> (<a title="Graaf de, Klaas Andries"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/dr-klaas-andries-de-graaf/index.aspx">VU</a>)
							</div>
						 </div>
						
						<div class="col-lg-3">
							<div class="nameTittle">
									<a href="https://www.albertmeronyo.org/">dr. Albert Mero&ntilde;o Pe&ntilde;uela</a> (<a title="Meroño Peñuela Albert"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/phd-students/malberteronopenuela/index.aspx">VU</a>)						
							</div>
						 </div>
					</div>
		</div>
		
		
<!--		Staff Row Two-->
			<div>
					<div class="row">
						<div class="col-lg-3">
							<div  style="text-align:center">
								<img class="imageBox" alt="Zhisheng Huang" title="Zhisheng Huang"  src="https://www.cs.vu.nl/en/Images/huang_zhisheng_tcm210-543574.jpg" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center"> 
								<img class="imageBox" alt="Annette ten Teije" title="Annette ten Teije"  src="https://www.cs.vu.nl/en/Images/Teije_Annette_ten_tcm210-543587.jpg" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center">
									<img class="imageBox" alt="Stefan Slobach" title="Stefan Slobach"  src="https://www.cs.vu.nl/en/Images/slobach_stefan_tcm210-543584.jpg" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center"> 
								<img class="imageBox" alt="Ali Khalili" title="Ali Khalili"  src="https://www.cs.vu.nl/en/Images/Ali_Khalili2_tcm210-426691.jpg" />    
							</div>
						</div>
					</div>

				<div class="row">
							<div class="col-lg-3">
								 <div class="nameTittle">
									 <a target="_blank" href="http://www.cs.vu.nl/%7Ehuang/">dr. Zhisheng Huang</a> (<a title="dr. Zhisheng Huang" target="_blank"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/huang/index.aspx">VU</a>)
							</div>
						</div>

							<div class="col-lg-3">
								 <div class="nameTittle">
									 <a target="_blank" href="http://www.cs.vu.nl/%7Eannette/">dr. Annette ten Teije</a> (<a title="dr. Annette ten Teije" target="_blank"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/tenteije/index.aspx">VU</a>)
								</div>
							</div>

							<div class="col-lg-3">
								<div class="nameTittle">
									<a target="_blank" href="http://www.few.vu.nl/%7Eschlobac/">dr. Stefan Schlobach</a> (<a title="dr. Stefan Schlobach" target="_blank"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/schlobach/index.aspx">VU</a>)						 </div>
								</div>

							<div class="col-lg-3">
								<div class="nameTittle">
									<a target="_blank" href="http://ali1k.com/" style="position:absolute;visibility:hidden;">empty</a><a target="_blank" href="http://ali1k.com/">dr. Ali Khalili</a> (<a title="Dr. Ali Khalili" target="_blank"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/ali-khalili/index.aspx">VU</a>)
								</div>
							</div>
					</div>
		</div>
		
		
<!--		Staff Row Three-->
		<div>
					<div class="row">
						<div class="col-lg-3">
							<div  style="text-align:center">
								<img class="imageBox" alt="Eva Kenny" title="Eva Kenny"  src="https://www.cs.vu.nl/en/Images/Eva_Kenny3_tcm210-593545.jpg" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center">
								<img alt="Peter Bloem" title="Peter Bloem" class="imageBox"  src="https://www.cs.vu.nl/en/Images/peter_bloem_tcm210-703537.jpg" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center">
								<img class="imageBox" alt="Darya Tarasowa" title="Darya Tarasowa"  src="https://www.cs.vu.nl/en/Images/Darya_Tarasowa2_tcm210-775251.jpg" />
							</div>
						</div>
					</div>

				<div class="row">
							<div class="col-lg-3">
								 <div class="nameTittle">
									 	<a title="Dr. Eva Kenny"  href="/en/research/artificial-intelligence/kr/People/dr-eva-kenny/index.aspx">dr. Eva Kenny</a>
									</div>
						</div>

							<div class="col-lg-3">
								 <div class="nameTittle">
									 <a href="http://www.peterbloem.nl/">dr. Peter Bloem</a> (<a title="Dr. Peter Bloem"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/index/dr-peter-bloem.aspx">VU</a>)
								</div>
							</div>

							<div class="col-lg-3">
								<div class="nameTittle">
									Darya Tarasowa (<a title="Tarasowa Darya"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/darya-tarasowa/darya-tarasowa.aspx">VU</a>)
								</div>

							<div class="col-lg-3">
								<div class="nameTittle">
								</div>
							</div>
					</div>
				</div>
			
		</div>
						
		<!--	PhD Students	-->
				<div class="row">
					<div class="col-lg-12">
						<div class="tittleBoxes">
							<p1><strong>PhD Students</strong></p1>           
						</div>
					</div>
				</div>				
						
						
	
<!--		PhD Students Row One-->
			<div>
					<div class="row">
						<div class="col-lg-3">
							<div  style="text-align:center">
								<img title="Shuhai Wang" alt="Shuhai Wang" class="imageBox" src="https://www.cs.vu.nl/en/Images/Robertwhite_tcm210-842881.jpg" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center"> 
								<img title="Xu Wang" alt="Xu Wang" class="imageBox"  src="https://www.cs.vu.nl/en/Images/XuWang_tcm210-864462.jpg" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center">
								<img class="imageBox" alt="Wouter Beek" title="Wouter Beek"  src="https://www.cs.vu.nl/en/Images/beek_wouter_tcm210-543752.jpg" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center">
								<img class="imageBox" alt="Hamid Bazoobandi" title="Hamid Bazoobandi"  src="https://www.cs.vu.nl/en/Images/bazoobandi_hamid_tcm210-543751.jpg" />
							</div>
						</div>
					</div>

				<div class="row">
							<div class="col-lg-3">
								 <div class="nameTittle">
									 <a href="http://airobert.github.io/">Shuai Wang</a> (<a title="Shuai Wang"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/shuai-wang/shuai-want.aspx">VU</a>)			
							</div>
						</div>

							<div class="col-lg-3">
								 <div class="nameTittle">
									 <a title="Wang Xu"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/People/xu-wang/xu-wang.aspx">Xu Wang</a>
								</div>
							</div>

							<div class="col-lg-3">
								<div class="nameTittle">
									<a target="_blank" href="http://www.wouterbeek.com/">Wouter Beek</a> (<a target="_blank" href="http://www.cs.vu.nl/en/research/artificial-intelligence/kr/phd-students/wouterbeek/index.aspx">VU</a>)		
								</div>
							</div>

							<div class="col-lg-3">
								<div class="nameTittle">
									<a target="_blank" href="https://www.few.vu.nl/%7Ehbi250/">Hamid Bazoobandi</a> (<a target="_blank" href="http://www.cs.vu.nl/en/research/artificial-intelligence/kr/phd-students/hamidbazoobandi/index.aspx">VU</a>)
								</div>
							</div>
					</div>
	</div>

			

			
			
<!--		PhD Students Row Two-->
			<div>
					<div class="row">
						<div class="col-lg-3">
							<div  style="text-align:center">
								<img class="imageBox" alt="Idrissou Al" title="Idrissou Al"  src="https://www.cs.vu.nl/en/Images/Al_Indrissou3_tcm210-658276.png" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center"> 
								<img class="imageBox" alt="Ilievski Filip" title="Ilievski Filip"  src="https://www.cs.vu.nl/en/Images/Filip_Ilievski_tcm210-424663.jpg" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center">
								<img class="imageBox" alt="Qing Hu" title="Qing Hu"  src="https://www.cs.vu.nl/en/Images/hu_qing_tcm210-543756.jpg" />
							</div>
						</div>
						<div class="col-lg-3">
							<div  style="text-align:center">
								<img class="imageBox" alt="Xander Wilcke" title="Xander Wilcke"  src="https://www.cs.vu.nl/en/Images/wilcke_xander_tcm210-543757.jpg" />
							</div>
						</div>
					</div>

					<div class="row">
							<div class="col-lg-3">
								 <div class="nameTittle">
									 <a title="Al Idrissou" target="_blank"  href="https://www.cs.vu.nl/en/research/artificial-intelligence/kr/phd-students/al-idrissou/index.aspx">Al Idrissou</a>
							</div>
						</div>

							<div class="col-lg-3">
								 <div class="nameTittle">
									<a target="_blank" href="http://www.cs.vu.nl/en/research/artificial-intelligence/kr/phd-students/filip-ilievski/index.aspx">Filip Ilievski</a>
								</div>
							</div>

							<div class="col-lg-3">
								<div class="nameTittle">
									<a target="_blank" href="https://www.few.vu.nl/%7Eqhu400/">Qing Hu</a> (<a target="_blank" href="http://www.cs.vu.nl/en/research/artificial-intelligence/kr/phd-students/quinghu/index.aspx">VU</a>)
								</div>
							</div>

							<div class="col-lg-3">
								<div class="nameTittle">
									<a target="_blank" href="#">Xander Wilcke</a>
								</div>
							</div>
					</div>
		</div>
	
	</div>
			
			
			
	


	

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
