

<div class="container">
    <div class="content aboutPG">

<div class="cInfo">
    <h2><strong>CONTACT US</strong></h2>

    <H3><strong>KR&amp;R @ VU</strong></H3>
</div>

<div class="col-lg-4">
    <h4>POSTAL ADRESS:</h4>
    <hr>
    <H4>KR&amp;R Group</H4>
    <H4>Department of Artificial Intelligence</H4>
    <H4>De Boelelaan 1081a</H4>
    <H4>1081 HV Amsterdam</H4>
</div>

<div class="col-lg-4">
    <h4>VISITING ADDRESS:</h4>
    <hr>

    <H4>The third floor (Office WN-T342 to T365)</H4>
    <H4>The WN (Science) building</H4>
    <H4>De Boelelaan 1081a</H4>
    <H4>1081 HV Amsterdam</H4>
</div>

<div class="col-lg-4">
    <h4>SECRETARY</h4>
    <hr>
    <h4>Mocja Lovrencak</h4>
    <h4>T +31 20 59 87782</h4>
    <h4>m.lovrencak@vu.nl</h4>
</div>

    </div>
</div>

<!-- map -->

<div id="map"></div>
<script>

    function initMap() {
        var vuLatLng = {lat: 52.332927, lng: 4.867903};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: vuLatLng
        });

        var marker = new google.maps.Marker({
            position: vuLatLng,
            map: map,
            title: 'Hello World!'
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANwYFUQxO5rcFP8RyHLyAPY1r_orVlBB4&callback=initMap"
        async defer></script>

