<div class="container">
    <div class="content aboutPG">
        <h2>Courses we teach in 2017 - 2018 academic year</h2>


<div class="row">


<div class="col-lg-3 imageTextField">
<a href="#">Knowledge Engineering</a>
<hr>
<img class="imageField" src="https://gasjockeys.net/wp-content/uploads/2015/10/Student-Admissions.jpg">
</div>
<div class="col-lg-3 imageTextField">
<a href="#">Knowledge Representation</a>
<hr>
<img class="imageField" src="https://www.ub.vu.nl/nl/Images/studeren_voor_tentamen_1_klein_tcm253-789774.jpg">
</div>
<div class="col-lg-3 imageTextField">
<a href="#">Knowledge and Data </a>
<hr>
<img class="imageField" src="http://vu-ppe.nl/wp-content/uploads/2015/12/rv_5085__MC_Vlag_VoorzijdeVU_large-1-550x400.jpg">
</div>
    <div class="col-lg-3 imageTextField">
        <a href="#">Machine Learning</a>
        <hr>
        <img class="imageField" src="https://www.ldatschool.ca/wp-content/uploads/2015/03/Young-student.jpg">
    </div>


</div>

        <h2>Courses we taught before </h2>

        <div class="row">


            <div class="col-lg-3 imageTextField">
                <a href="#">Knowledge Engineering</a>
                <hr>
                <img class="imageField" src="https://gasjockeys.net/wp-content/uploads/2015/10/Student-Admissions.jpg">
            </div>
            <div class="col-lg-3 imageTextField">
                <a href="#">Knowledge Representation</a>
                <hr>
                <img class="imageField" src="https://www.ub.vu.nl/nl/Images/studeren_voor_tentamen_1_klein_tcm253-789774.jpg">
            </div>
            <div class="col-lg-3 imageTextField">
                <a href="#">Knowledge and Data </a>
                <hr>
                <img class="imageField" src="http://vu-ppe.nl/wp-content/uploads/2015/12/rv_5085__MC_Vlag_VoorzijdeVU_large-1-550x400.jpg">
            </div>
            <div class="col-lg-3 imageTextField">
                <a href="#">Machine Learning</a>
                <hr>
                <img class="imageField" src="https://www.ldatschool.ca/wp-content/uploads/2015/03/Young-student.jpg">
            </div>


        </div>