
<!--Body Page	-->

<div class="container">

<div>
	   <img class="imageHP" src="https://outoftheboxscience.com/wp-content/uploads/2017/04/Artificial-Intelligence.jpg">

</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="content introductionHP animated fadeInDown">
                <h1>Welcome</h1>
                <h3>Knowledge Representation and Reasoning</h3>
                <hr>
            </div>

						<button type="button" onclick="location.href='/members'" class="btn btn-info btnFindSP">Find Specialist</button>
        </div>
    </div>

    <div class="">
        <a href="https://krr.cs.vu.nl"><h2>To use the old website click here</h2></a>

    </div>

    <div class="row">


        <div class="col-lg-3 imageTextField">
            <a href="./about">Research</a>
            <hr>
            <img class="imageField" src="https://gasjockeys.net/wp-content/uploads/2015/10/Student-Admissions.jpg">
        </div>
        <div class="col-lg-3 imageTextField">
            <a href="./courses.">Teaching</a>
            <hr>
            <img class="imageField" src="https://www.ub.vu.nl/nl/Images/studeren_voor_tentamen_1_klein_tcm253-789774.jpg">
        </div>
        <div class="col-lg-3 imageTextField">
            <a href="./projects">Projects for Students</a>
            <hr>
            <img class="imageField" src="http://vu-ppe.nl/wp-content/uploads/2015/12/rv_5085__MC_Vlag_VoorzijdeVU_large-1-550x400.jpg">
        </div>
        <div class="col-lg-3 imageTextField">
            <a href="./vacancies">Join Us!</a>
            <hr>
            <img class="imageField" src="https://www.ldatschool.ca/wp-content/uploads/2015/03/Young-student.jpg">
        </div>


    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="textField">
                <a href="EventPage.html">Upcoming Events</a>
                <hr>
                <h4>Pitch Presentation Course KE - 21 December 2017</h4>
								<h4>Chinees MEGA Lunch - 25 December 2017</h4>
								<h4>Department Christmas Party - 26 December 2017</h4>
								<h4>ICT Open - 31 December 2017</h4>
            </div>

						<div class="textField">
                <a href="NewsPage.html">Latest News</a>
                <hr>

								<h4>Annete ten Teije Receives Three Million Dollar Subsidy for AI Research</h4>
								<h4>Vacany for Full Professor of Algorithmic Data Science</h4>
								<h4>PhD Vacancy on Living Guidelines in medical care</h4>
								<h4>President D. Trump highly praised the work of the KRR group</h4>
            </div>
        </div>
        <div classss="col-lg-6">
					<!-- <a class="twitter-timeline" href="https://twitter.com/RinkeHoekstra/lists/krr?ref_src=twsrc%5Etfw">A Twitter List by RinkeHoekstra</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
					<a class="twitter-timeline"  href="https://twitter.com/search?q=from%3Afinn_potason%20OR%20from%3AFrankVanHarmele%20OR%20from%3Aalbertmeronyo%20OR%20from%3Apbloemesquire%20OR%20from%3Ahyperir%20OR%20from%3Aams_ds" data-widget-id="947958462964813824">Tweets about from:finn_potason OR from:FrankVanHarmele OR from:albertmeronyo OR from:pbloemesquire OR from:hyperir OR from:ams_ds</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        <!--</div>-->
    </div>
</div>

<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>-->
<!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
