

<div class="container content">


<div class="row">
    <div class="col-lg-6">
        <div class="textField">
            <a href="EventPage.html">Upcoming Events</a>
            <hr>
            <h4>Pitch Presentation Course KE - 21 December 2017</h4>
            <h4>Chinees MEGA Lunch - 25 December 2017</h4>
            <h4>Department Christmas Party - 26 December 2017</h4>
            <h4>ICT Open - 31 December 2017</h4>
        </div>


    </div>
    <div class="col-lg-6">
        <div class="textField">
            <a href="NewsPage.html">Latest News</a>
            <hr>

            <h4>Annete ten Teije Receives Three Million Dollar Subsidy for AI Research</h4>
            <h4>Vacany for Full Professor of Algorithmic Data Science</h4>
            <h4>PhD Vacancy on Living Guidelines in medical care</h4>
            <h4>President D. Trump highly praised the work of the KRR group</h4>
        </div>

    </div>
</div>

</div>