/*body {*/
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
  /*color: #00B7FF;*/
/*}*/


body {
  background-color:chocolate;
  background-size: cover;
  background-position: center;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Lato";
  color: white;
}
/*Topbar*/
#topImage{
  width:35px;
  margin-top: -10px;
  float:left;
}

#topText{
  margin-left: 40px;
  margin-right: 225px;
}

#navBarRight{
  margin-right: 20px;
}


h1 {
  font-weight: 700;
  font-size: 5em;
}


.content{
  padding-top: 10%;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  margin-bottom: 50px;
}

hr{
  width: 500px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.textfield > hr {
  width: 500px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.imageTextField > hr {
  width: 240px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}


.textField{
  background-color: darkgrey;
  border: solid;
  padding-top: 15px;
  margin-bottom: 5%;
  text-align: center;
  margin-right: 10px;
  color: white;
  font-size: 2em;
  font-style: oblique;
}

.imageTextField{
  background-color: darkgrey;
  border: solid;
  padding-top: 15px;
  margin-bottom: 5%;
  text-align: center;
  color: white;
  font-size: 2em;
  font-style: oblique;
}

.imageField{
  width: 250px;
}

.eventNewstItem{
  text-align: left;
  margin-left: 50px;
}


a{
  color:black;
}







/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  top: 50px;
  height: 95%;
  width: 70%;
  overflow: scroll;
}


.left-half-recommend {
  height: 50%;
  background-color: #339e2c;
  overflow: scroll;
}
.left-half-recommend-cell {
  height: 50%;
  background-color: #7a9e2d;
}

.imageCell{
  /*width: 100px;*/
  height: 130px;
  width: 20%;
  position: relative;
  left: 0px;
}

.textCell{
  /*width: 100px;*/
  height: 100px;
  width: 70%;
  right: 0px;
  position: relative;
  /*overflow: scroll;*/
}

.left-half-all{
  height: 50%;
  overflow: scroll;
}

.right-half {
  background-color: #b6701e;
  position: absolute;
  height: 95%;
  top: 50px;
  right: 0px;
  width: 30%;
  overflow: scroll;
}

