/*body {*/
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
  /*color: #00B7FF;*/
/*}*/


body {
    background-color:chocolate;
    background-size: cover;
    background-position: center; 
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}
/*Topbar*/
#topImage{
		width:35px;
		margin-top: -10px;
		float:left;
	}

#topText{
	margin-left: 40px;
	margin-right: 225px;
}

#navBarRight{
	margin-right: 20px;
}


h1 {
	font-weight: 700;
	font-size: 5em;
}


.content{
	padding-top: 10%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr{
	    width: 500px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.textfield > hr {
    width: 500px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.imageTextField > hr {
    width: 240px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.inputSearch{
    width: 70%;
	  margin-bottom: 50px;
		margin-left: 10%;
		float:left;
}

#searchButton{
	margin-left: -10%; 
}

.formInput{
	margin-top: 50px;
}

.textField{
    background-color: darkgrey;
    border: solid;
		padding-top: 15px;
    margin-bottom: 5%;
		text-align: center;
		margin-right: 10px;
		color: white;
		font-size: 2em;
		font-style: oblique;
}

.imageTextField{
    background-color: darkgrey;
    border: solid;
		padding-top: 15px;
    margin-bottom: 5%;
		text-align: center;
		color: white;
		font-size: 2em;
		font-style: oblique;
}

.imageField{
	width: 250px;
}

.eventNewstItem{
	text-align: left;
	margin-left: 50px;
}


a{
	color:skyblue;
}
 
.nameTittle > a {
	color:white;
}

.tittleBoxes{
	text-align: center;
	font-size: 40px;
	background-color: lightsteelblue;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	text-shadow: 2px 2px #000000;
	border-radius: 10px;
}


.imageBox{
	width: 200px;
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;	
}


.nameTittle{
    background-color: lightsteelblue;
    margin-bottom: 5%;
	color: white;
	border-radius: 10px;
}


.questionAnswerButton{
	width: 150px;
	height: 60px;
	background-color: gainsboro;
	border-radius: 20px 20px 20px
}

.navigateButton{
	width: 150px;
	height: 60px;
	background-color: skyblue;
	border-radius: 20px 20px 20px;
	margin-top: 50px;
	
}


.questionBox{
		margin-bottom: 75px;

}

.answersBox{
	margin-top: 75px;
	margin-bottom: 75px;

}



/* Pattern styles */
.container {
  display: table;
  width: 80%;
	margin-bottom: 60px;
		text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

}

.left-half {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  top: 50px;
  height: 95%;
  width: 60%;
}


.left-half-recommend {
  background-color: #339e2c;
	margin-top: 4%;
	margin-bottom: 4%;
	padding-top: 2%;
	padding-bottom: 1%;
}
.left-half-recommend-cell {
  height: 50%;
  background-color: #7a9e2d;
}

.imageCell{
	margin-top: 8%;
	margin-left: 5%;
  height: 250px;
  width: 200px;
  position:relative;
}

.textCell{
  height: 100px;
  right: 0px;
  position: relative;
}


.specialistBox{
	margin-bottom: 25%;
}


.interestBox{
	background-color: lightgrey;
	border-radius: 20px;
	width: 60%;
	color: black;
	margin-left: 130px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.0),
               0px 8px 13px rgba(0,0,0,0.0),
               0px 18px 23px rgba(0,0,0,0.0);
	margin-top: 20px;
}

.imageTextCellOS{
	float: left;
}

.resultCB{
	margin-top: 5%;
	margin-left: 30%;
	width: 40%;
}