


body {
    background-color: rgba(66, 132, 168, 0.56);
    background-size: cover;
    background-position: center;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    /*color: white;*/
}
/*Topbar*/
#topImage{
		width:35px;
		margin-top: -10px;
		float:left;
	}

#topText{
	margin-left: 40px;
	margin-right: 200px;
}



h1 {
	font-weight: 700;
	font-size: 5em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}


.content{
	padding-top: 10%;
	text-align: center;
    /*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),*/
                 /*0px 8px 13px rgba(0,0,0,0.1),*/
                 /*0px 18px 23px rgba(0,0,0,0.1);*/
}

hr{
	width: 500px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.textfield > hr {
    width: 500px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.imageTextField > hr {
    width: 250px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.inputSearch{
    width: 70%;
	  margin-bottom: 50px;
		margin-left: 10%;
		float:left;
}

#searchButton{
	margin-left: -10%;
}

.formInput{
	margin-top: 50px;
}

.textField{
    background-color: #8da9b9;
    border: solid;
		padding-top: 15px;
    margin-bottom: 5%;
		text-align: center;
		margin-right: 10px;
		color: white;
		font-size: 2em;
		font-style: oblique;
}

.textField > a {
		color: white;

}

.imageTextField{
    background-color: #8da9b9;
    border: solid;
		padding-top: 15px;
    margin-bottom: 15px;
		text-align: center;
		color: white;
		font-size: 1.5em;
		font-style: oblique;
}

.imageTextField > a {
	color: white;
}

.imageField{
	width: 250px;
	height: 180px;
}

.eventNewstItem{
	text-align: left;
	margin-left: 50px;
}


a{
	color: #1e3488;
	  /*text-shadow: 0px 4px 3px rgba(0,0,0,0.0),*/
               /*0px 8px 13px rgba(0,0,0,0.0),*/
               /*0px 18px 23px rgba(0,0,0,0.0);*/

}

.nameTittle > a {
	color:white;
}

.tittleBoxes{
	text-align: center;
	font-size: 40px;
	background-color: lightsteelblue;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	text-shadow: 2px 2px #000000;
	border-radius: 10px;
}


.imageBox{
	width: 200px;
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
}


.nameTittle{
    background-color: lightsteelblue;
    margin-bottom: 5%;
	color: white;
	border-radius: 10px;
}


.questionAnswerButton{
	width: 150px;
	height: 60px;
	background-color: gainsboro;
	border-radius: 20px 20px 20px
}

.navigateButton{
	width: 150px;
	height: 60px;
	background-color: skyblue;
	border-radius: 20px 20px 20px;
	margin-top: 50px;
}


.questionBox{
		margin-bottom: 75px;

}

.answersBox{
	margin-top: 75px;
	margin-bottom: 75px;

}



/* Pattern styles */
.container {
  /* display: table; */
  margin-top: 3%;
	margin-bottom: 60px;
		/* text-align: center; */
    /* text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1); */
}

.left-half {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  top: 50px;
  height: 95%;
  width: 60%;
}


.left-half-recommend {
  background-color: #66b3b9;
	margin-top: 4%;
	margin-bottom: 4%;
	padding-top: 2%;
	padding-bottom: 1%;
	border-radius: 20px;
}
.left-half-recommend-cell {
  height: 50%;
  background-color: #7a9e2d;
}

.imageCell{
	margin-top: 8%;
	margin-left: 5%;
  height: 250px;
  width: 200px;
  position:relative;
}

.textCell{
  height: 100px;
  right: 0px;
  position: relative;
}


.specialistBox{
	margin-bottom: 25%;
}


.interestBox{
	background-color: lightgrey;
	border-radius: 20px;
	width: 60%;
	color: black;
	margin-left: 130px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.0),
               0px 8px 13px rgba(0,0,0,0.0),
               0px 18px 23px rgba(0,0,0,0.0);
	margin-top: 20px;
}

.imageTextCellOS{
	float: left;
}

.resultCB{
	margin-top: 5%;
	margin-left: 30%;
	width: 40%;
}

.postmetadata{
	background-color: white;
}

.imageHP{
	width: 100%;
}

.introductionHP{
	margin-top: -40%;
	margin-bottom: 20%;
	margin-left: 40%
}

.btnFindSP{
	margin-top: -35%;

	margin-left: 40%;
}

.textABP{
	margin-top: 3%;
	width: 80%;
	margin-left: 10%;
	text-align: left;
}

button {
	background-color: deepskyblue;
}

.aboutPG{
	margin-top: -5%;
}

.cInfo{
	margin-top: 4%;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
    /* height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

<<<<<<< HEAD
.form_login{
	margin-top: 10%;
}
=======
div > .profile > .login{ 
	margin: 200px auto auto auto;
	text-align: center;

	width: 30%;
}

div > .profile > .view {
	margin-top: 200px;
}

.profile-avatar {
	border-radius: 50%;
}

.profile-name {
	margin-top: 5%;
}


:root {
    font-family: Arial, Helvetica, sans-serif;
}

.tags-input {
    border: 1px solid #333;
	display: inline-block;
	width: 100%;
	background-color: white;
}

.tags-input .tag {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #ddd;
    transition: all 0.1s linear;
	cursor: pointer;

}

.tags-input .tag:hover {
    background-color: #3af;
	color: white;

}

.tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
}

.tags-input .tag .close:hover::after {
    color: red;
}

.tags-input .main-input {
    border: 0;
    outline: 0;
	padding: 0.5em 0.1em;
	width: 100%;
}

/* .tag {
	font-size: 85%;
    padding: 0.2em 1em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #ddd;
    transition: all 0.1s linear;
	cursor: pointer;
	border-radius: 50%;
 
} */


/* img:hover .courses {
    opacity: 0.3;
    filter: alpha(opacity=3); For IE8 and earlier
} */


.thumbnail-box {
	margin-bottom: 3%;
}

.thumbnail {
	height: 200px;
	width: 100%;
	box-shadow: 5px 5px 5px grey;

}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 300%;
}

.container .content-infoboxes{
	position: absolute; /* Position the background text */
	bottom: 20px; /* At the bottom. Use top:0 to append it to the top */
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1; 
	width: 90%;
	padding: 5px; 
  }
>>>>>>> 9202097be4618590a1b4e4a3d794d98b999e9967
